header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: rgb(22, 6, 39);
    height: 10.1rem;
}
#imagem{ 
    position: absolute;
    left: 0;
    top: 0;
    margin: 40px 0 0 30px;
    display: flex;
}
#photo{
    display:block;
    width: 35%;
}
#nameUser{
    margin: 100px 0 0 12rem;
    font-size: 35px;
}
.container{
    display:flex;
}

.reading{
    display: flex;
    justify-content:center;
    position: relative;
    bottom: 5rem;
}
.qtdBooks{
    padding-left:65px ;
}